/* eslint-disable */

function formatDate(date) {
    if (date) {
        date = getDate(date);
        return date.getMonth() + 1 + '/' + date.getDate();
    }
}

function formatFullDate(date) {
    if (date) {
        date = getDate(date);
        return date.getFullYear() + '/' + formatDate(date);
    }
}

function formatDate0(date) {
    if (date) {
        date = getDate(date);
        return date.getMonth() + 1 + '-' + date.getDate();
    }
}

function formatFullDate4(date) {

    if (date) {
        date = getDate(date);
        return date.getFullYear() + '-' + formatDate0(date);
    }
}

function formatFullDate5(date) {
    if (date) {
        date = getDate(date);
        var md = date.getMonth() + 1 + '.' + date.getDate()
        return date.getFullYear() + '.' + md;
    }
}

function formatFullDate7(date) {
    if (date) {
        date = getDate(date);
        var md = date.getMonth() + 1 + '月' + date.getDate() + '日'
        return date.getFullYear() + '年' + md;
    }
}

function formatFullDate2(date) {
    if (date) {
        date = getDate(date);
        var month = date.getMonth() + 1
        var day = date.getDate()
        var hours = date.getHours()
        var minute = date.getMinutes()
        if (month < 10) {
            month = '0' + month
        }
        if (day < 10) {
            day = '0' + day
        }
        if (hours < 10) {
            hours = '0' + hours
        }
        if (minute < 10) {
            minute = '0' + minute
        }
        return date.getFullYear() + '-' + month + '-' + day + ' ' + hours + ':' + minute;
    }
}

function formatFullDate8(date) {
    if (date) {
        date = getDate(date);
        var month = date.getMonth() + 1
        var day = date.getDate()
        var hours = date.getHours()
        var minute = date.getMinutes()
        if (month < 10) {
            month = '0' + month
        }
        if (day < 10) {
            day = '0' + day
        }
        if (hours < 10) {
            hours = '0' + hours
        }
        if (minute < 10) {
            minute = '0' + minute
        }
        return date.getFullYear() + '年' + month + '月' + day + '日 ' + hours + ':' + minute;
    }
}

function formatFullDate3(date) {
    console.log(date)
    if (date) {
        return date.substring(0, 4) + '-' + date.substring(4, 6) + '-' + date.substring(6, 8);
    }
}

function formatSecondDate(date) {

    if (date) {
        date = getDate(parseInt(date) * 1000);
        var h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        var minute = date.getMinutes();
        minute = minute < 10 ? ('0' + minute) : minute;
        if (isToday(date)) {
            return h + ":" + minute
        } else {
            return date.getFullYear() + '/' + formatDate(date) + ' ' + h + ":" + minute;
        }

    }
}

function formatSecondDateStr(date) {

    if (date) {
        date = getDate(parseInt(date) * 1000);
        var h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        var minute = date.getMinutes();
        minute = minute < 10 ? ('0' + minute) : minute;
        if (isToday(date)) {
            var str = ''
            if (h > 12) {
                h = h - 12
                str = '下午 '
            } else {
                str = '上午 '
            }
            return str + h + ":" + minute
        } else {
            return date.getFullYear() + '/' + formatDate(date) + ' ' + h + ":" + minute;
        }

    }
}

function isToday(date) {

    return date.toDateString() === getDate().toDateString()
}

function formatMultiple(dates) {
    if (dates.length) {
        return '选择了 ' + dates.length + '个日期';
    }
}

function formatRange(dateRange) {
    if (dateRange.length) {
        return formatDate(dateRange[0]) + ' - ' + formatDate(dateRange[1]);
    }
}

//咨询图标
function zixunType(type) {
    if (type === 'textNum') {
        return '/image/wdzx_tw@3x.png'
    } else if (type === 'telNum') {
        return '/image/wdzx_dh@3x.png'
    } else if (type === 'videoNum') {
        return '/image/wdzx_shipin@3x.png'
    } else if (type === 'appointNum') {
        return '/image/wdzx_fzkf@3x.png'
    } else if (type === 'consult') {
        return '/image/wdzx_hz@3x.png'
    }
}
//随访计划 子任务 图标
function planTypeIcon(type) {

    if (type === '1') {
        return '/packageSub/image/wenjuan.png'
    } else if (type === '2') {
        return '/packageSub/image/wenzhang.png'
    } else if (type === '3') {
        return '/packageSub/image/tixing.png'
    } else {
        return '/packageSub/image/wenzhang.png'
    }
}
//我的订单
function orderType(type) {
    if (type == 1) {
        return '待支付'
    } else if (type == 4) {
        return '待收货'
    } else if (type == 2) {
        return '已完成'
    } else if (type == 5) {
        return '已取消'
    }
}
// 1待支付、2进行中、3已完成、4已取消
function myOrderType(type) {
    if (type == 1) {
        return '待支付'
    } else if (type == 2) {
        return '进行中'
    } else if (type == 3) {
        return '已完成'
    } else if (type == 4) {
        return '已取消'
    }
}
//号源
function sourceType(type) {
    if (type == 0) {
        return '预约'
    } else if (type == 1) {
        return '约满'
    } else if (type == 2) {
        return '无号'
    }
}

/*
计划任务类型 V2
*/
function taskTypeV2(type) {
    if (type == 1) { //问卷
        var t = {
            icon: '/image/jh_icon_wj.png',
            title: '问卷收集'

        }
        return t;

    } else if (type == 2) { //文章
        var t = {
            icon: '/image/jh_icon_xj.png',
            title: '健康宣教',
        }
        return t;

    } else if (type == 3) { //消息
        var t = {
            icon: '/image/jh_icon_fz.png',
            title: '消息提醒',
        }
        return t;

    }
}

/*首页我的待办
 */
function taskType2(type, execFlag) {

    if (type == 'Exam') { //检验单
        var t = {
            icon: 'home_icon_scjyd.png',
            title: '上传检验单',
            btnText: '上传'
        }
        return t;

    } else if (type == 'Check') { //检查单
        var t = {
            icon: 'home_icon_csjcd.png',
            title: '上传检查单',
            btnText: '上传'
        }
        return t;

    } else if (type == 'Quest') { //问卷
        var t = {
            icon: 'home_icon_wj.png',
            title: '问卷采集',
            btnText: '填写'
        }
        return t;

    } else if (type == 'appointNum') { //复诊开方
        var t = {
            icon: 'home_icon_fzkf.png',
            title: '复诊开方',
            btnText: '进入'
        }
        return t;

    } else if (type == 'Knowledge') { //文章
        var t = {
            icon: 'home_icon_wz.png',
            title: '健康宣教',
            btnText: '查看'
        }
        return t;

    } else if (type == 'Remind') { //消息
        var t = {
            icon: 'home_icon_xx.png',
            title: '消息提醒',
            btnText: '查看'
        }
        return t;

    } else if (type == 'Evaluate') { //健康评估
        var t = {
            icon: 'home_icon_xx.png',
            title: '健康评估',
            btnText: '查看'
        }
        return t;

    } else if (type == 'Rdiagnosis') { //复诊提醒
        var t = {
            icon: 'home_icon_fztx.png',
            title: '复诊提醒',
            btnText: '已读'
        }
        return t;

    } else if (type == 'Ddiagnosis') { //用药提醒
        var t = {
            icon: 'home_icon_yytx.png',
            title: '用药提醒',
            btnText: '已读'
        }
        return t;

    } else if (type == 'Read') { //病历查阅
        var t = {
            icon: 'home_icon_yytx.png',
            title: '病历查阅',
            btnText: '查看'
        }
        return t;

    } else if (type == 'Jump') { //第三方小程序
        var t = {
            icon: 'home_icon_jump.png',
            title: '病历查阅',
            btnText: '查看'
        }
        return t;

    }
}


function planType(type) {
    if (type == 'Check') {
        return '检&ensp;查&ensp;单'
    } else if (type == 'Exam') {
        return '检&ensp;验&ensp;单'
    } else if (type == 'Knowledge') {
        return '文章阅读'
    } else if (type == 'Remind') {
        return '健康提醒'
    } else if (type == 'Quest') {
        return '健康问卷'
    } else if (type == 'Evaluate') {
        return '健康评估'
    } else if (type == 'Rdiagnosis') {
        return '复诊提醒'
    } else {
        return ''
    }
}

//手机号脱敏
function phoneReplace(phone) {
    return phone.replace(getRegExp('/(\d{3})\d{4}(\d{4})/'), '$1****$2')

}
//截取时间 2022-05-12 10:40:38 -> 2022-05-12
function dateSub(time) {
    if (time) {
        return time.substring(0, 10)
    } else {
        return ''
    }


}
//截取时间10:30:00-11:00:00->10:30-11:00
function dateSub2(time) {
    if (time) {
        return time.substring(0, 5) + time.substring(8, 14)
    } else {
        return ''
    }




}
//倒计时
function countDown(dateStr) {
    // var appointtimestamp = Date.parse(appointTime.replace(/-/g, '/')) 
    var date = getDate(dateStr.replace(getRegExp('-', 'g'), '/'))

    console.log(date)

    return 15 * 60 * 1000 - (getDate().getTime() - date.getTime())

}

//订单商品数计算
function orderNum(goodsInfo) {
    var num = 0
    goodsInfo.forEach(function (item) {
        num = num + item.number
    });


    return num
}
module.exports = {
    formatDate: formatDate,
    formatFullDate: formatFullDate, //毫秒   2023/1/18 
    formatFullDate2: formatFullDate2, //毫秒  2023-1-18 12:00:00
    formatFullDate3: formatFullDate3,
    formatFullDate4: formatFullDate4, //毫秒   2023-1-18 
    formatFullDate5: formatFullDate5, //毫秒   2023.1.18 
    formatFullDate7: formatFullDate7, //毫秒   2023年1月18日 
    formatFullDate8: formatFullDate8, //毫秒  2023年1月18日 12:00


    formatSecondDate: formatSecondDate, //秒
    formatSecondDateStr: formatSecondDateStr, //秒

    formatMultiple: formatMultiple,
    formatRange: formatRange,
    orderType: orderType,
    myOrderType: myOrderType,
    sourceType: sourceType,
    countDown: countDown,
    phoneReplace: phoneReplace,
    taskType2: taskType2,
    planType: planType,
    orderNum: orderNum,
    dateSub: dateSub,
    dateSub2: dateSub2,
    zixunType: zixunType,
    taskTypeV2: taskTypeV2,
    planTypeIcon: planTypeIcon
};